<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <!--パーシャル:エラーメッセージ用-->
  <%= render partial: "layouts/errors_messages" %>

  <!--パーシャル:入力フォーム用-->
  <%= render partial: "layouts/text_form", locals: {f: f, book: @book} %>

  <div class="new_book_submit">
    <%= f.submit "Update Book" %>
  </div>
<% end %>

<%= link_to "Show", book_path(@book.id), method: :get %>
|
<%= link_to "Back", books_path, method: :get %>
