<h1>Books</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Body</th>
  </thead>
  <tbody>
    <!--ブックモデルの全てのデータを順番に代入-->
    <% @books.each do |book|%>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "Show", book_path(book.id) %></td>
        <td><%= link_to "Edit", edit_book_path(book.id) %></td>
        <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New book</h2>

<%= form_with model: @book, url: books_path, method: :post do |f| %>

  <!--パーシャル:エラーメッセージ用-->
  <%= render partial: "layouts/errors_messages" %>

  <!--パーシャル:入力フォーム用-->
  <%= render partial: "layouts/text_form", locals: {f: f, book: @book} %>

  <div class="new_book_submit">
    <%= f.submit "Update Book" %>
  </div>

<% end %>