  <div class="new_book_box">
    <!--バリデーションエラー時のボックス強調用のクラス定義-->
    <div class=" <%= "error_emphasis" if book.errors[:title].any? %>">
      <label for="book_title">Title</label>
    </div>
    <div class=" <%= "error_emphasis" if book.errors[:title].any? %>">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="new_book_box">
    <div class=" <%= "error_emphasis" if book.errors[:body].any? %>">
      <label for="book_body">Body</label>
    </div>
    <div class=" <%= "error_emphasis" if book.errors[:body].any? %>">
      <%= f.text_area :body %>
    </div>
  </div>